{% load static %}

<!DOCTYPE html>

<html>
	<head>
	
		<title>404 Error | Page not found in SLRTCE Book</title>
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans" rel="stylesheet">
		
	</head>

	<body>

		<div class="container">
			<h1 class="four-oh-four">404 Error<br /><span class="blue-color">Page not found!</span></h1>
			<br />
			<img class="granny-404" src="{% static '404.jpg' %}" alt="404 Error Granny" />
		</div>

	</body>
</html>