{% include 'login_header.html' %}

			<div class="form-container">
				<form>
					<input id="name" type="text" placeholder="Full name"/>
					<input id="username" type="text" placeholder="New username" />
					<input id="pass" type="password" placeholder="Password" />
					<input id="repass" type="password" placeholder="Re-enter password" />
					<input id="submit" type="submit" value="Create new account" />
				</form>
			</div>

			<p>Have an account already? <a href="login">Login here</a></p>
		</div>
	</body>
</html>